body {
  width: 100%;
  height: 100vh;
}

#root {
  width: 100%;
  height: 100%;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.imagesAndBtnContainer {
  overflow: hidden;
  position: relative;
  width: 80%;
  height: 45vh;
  background-color: red;
}

.imagesContainer {
  position: absolute;
  transition: left 0.5s;
  left: 0;
}

.btnContainer {
  position: absolute;
}
